<div class="row">
    <div class="col-lg-12">
        <h1>Movie Tracker</h1>
        <h3> Available Movies</h3>
        <div class="portfolio-wrapper isotope">
            <div class="card film art isotope-item">
                <a class="thumb">
                    <img src="http://pukekodesigns.co.nz/clients/rebound/v1.1/img/sample/sintel/sample-sintel-1.jpg" alt="" title="">
                    <span class="overlay"><span class="fa fa-search"></span></span>
                </a>
                <div class="card-body">
                    <h2><a ui-sref="app.movie">Sintel at Seattle International Film Festival</a></h2>
                    <p>The cinema where Sintel screens has digital 4k projection, I’m working with them getting this formatted right and delivered. Would be a real ...</p>
                    <p><a href="portfolio-item.html">Read More</a></p>
                </div>
                <!-- end card-body -->
                <div class="card-footer">
                    <ul class="list-inline filters">
                        <li><a href="#none">Film</a></li>
                        <li><a href="#none">Art</a></li>
                    </ul>
                </div>
                <!-- end card-footer -->
            </div>
        </div>
    </div>
</div>
