<div class="page">
    <article>
        <div class="page-header movie">
            <div class="item" ng-style="{'background': 'url(images/sample-elephants-2.jpg)'}">  
            </div>
            <div class="content-info">
                <h1 class="nomargin">{{movieData.fullTitle}}</h1>
                <p class="lead nomargin">Elephants Dream is the story of two strange characters exploring a capricious and seemingly infinite machine. </p>
            </div>
        </div>
        <!-- end page-header -->
        <div class="row nomargin content-info">
            <div class="col-md-3">
                <ul class="list-unstyled post-meta">
                    <li><span class="fa fa-calendar"></span>Thu Apr 27, 1:15pm</li>
                    <li><span class="fa fa-list-ul"></span>Posted in: <a href="#none">Film</a>, <a href="#none">Social</a></li>
                    <li><a href="#none" class="btn btn-default">Launch Project</a></li>
                </ul>
                <!-- end post-meta -->
            </div>
            <!-- end col -->
            <div class="col-md-9">
                <div class="post-content">
                    <p>Proog, acts as a tour-guide and protector, happily showing off the sights and dangers of the machine to his initially curious but increasingly skeptical protege Emo. As their journey unfolds we discover signs that the machine is not all Proog thinks it is, and his guiding takes on a more desperate aspect.</p>
                    <p>Elephants Dream is a story about communication and fiction, made purposefully open-ended as the world’s first 3D animated “Open movie”. The film itself is released under the Creative Commons license, along with the entirety of the production files used to make it (roughly 7 Gigabytes of data). The software used to make the movie is the free/open source animation suite Blender along with other open source software, thus allowing the movie to be remade, remixed and re-purposed with only a computer and the data on the DVD or download.</p>
                    <h3>Project Orange</h3>
                    <p>‘Elephants Dream’ is the result of almost a year of work, a project initiated and coordinated by the Blender Foundation. Six people from the Blender user/development community were selected to come over to Amsterdam to work together on an animated short movie, utilizing Open Source tools only.</p>
                    <p>Below you can find the text describing the original motivation and background for Project Orange</p>
                    <h3>Motivation</h3>
                    <p>With Blender originating as an in-house creation tool, the day-to-day feedback and interaction of both developing and using the software was one of its most outstanding features.</p>
                    <p>In the past 2.5 years of open source development, it was especially this uniqueness of Blender that has proven to be difficult to organise and maintain. The Blender Foundation itself has no intention to grow or expand into a company or studio; such a development would conflict with the public benefit goals. Instead, the Foundation aims at endorsing and supporting activities within (educational) institutes, universities and companies.</p>
                    <p>It is our conviction that establishing - content targeted - incidental, independent and temporal projects will be a strong boost for open source development strategies in general. Daily interaction of artists and developers can not only result in proof of concepts, but also in research of innovative solutions for the whole range of tools artists can deploy.</p>
                    <p>By keeping such projects content focused and temporal, it also is possible for a wide range of currently active volunteers to participate. Not many people are in a position to give up a career (study, job) to become full-time employed on the projects of their interest. But there are many active volunteers prepared and motivated to do this incidentally for shorter time spans.</p>
                    <p>Whilst Project Orange’s prime target is to create an outstanding movie short, the secondary goal is to research efficient ways to increase quality of Open Source projects in general.</p>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end post-content -->
    </article>
    <!-- <ul class="pager">
        <li class="prev">
            <small><span class="fa fa-chevron-left"></span>Previous</small>
            <h3><a href="#none">Big Buck Bunny</a></h3>
            <p><span class="fa fa-calendar"></span>Thu Apr 27</p>
        </li>
        <li class="next">
            <small>Next<span class="fa fa-chevron-right"></span></small>
            <h3><a href="#none">Sintel</a></h3>
            <p><span class="fa fa-calendar"></span>Tue Apr 25</p>
        </li>
    </ul> -->
</div>
